[submodule "packages/zebraw"]
	path = packages/zebraw
	url = https://github.com/Myriad-Dreamin/typst-zebraw/
	branch = better-html
[submodule "packages/mathyml"]
	path = packages/mathyml
	url = https://codeberg.org/akida/mathyml
[submodule "packages/typst-metalogo"]
  path = packages/typst-metalogo
  url = https://github.com/lonkaars/typst-metalogo
[submodule "packages/typst-physics"]
	path = packages/typst-physics
	url = https://github.com/Leedehai/typst-physics
[submodule "packages/typst-fletcher"]
	path = packages/typst-fletcher
	url = https://github.com/Jollywatt/typst-fletcher
	branch = main
[submodule "packages/ctez"]
	path = packages/ctez
	url = https://github.com/pxwg/cetz.git
	branch = fix
